body{
  margin: 0;
  padding: 0;
}
.dragPanel{
  width: 50%;
  position: relative;
}
.clearBoth:after{
  display: table;
  content: "";
  clear: both;
}
.dragItem{
  position: relative;
  z-index: 2;
  background-color: white;
  min-width: 15%;;
  max-width: 90%;
  width: 30%;
  height: 100px;
  margin: 10px;
  box-sizing:border-box;
  border:1px solid #dddddd;
  display: inline-block !important;
}
.draggable{
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  width: 100%;
  cursor: move;
  height: 20px;
  background-color: #f1f1f1;
}
.dragsizeable{
  position: absolute;
  top:0;
  right:-5px;
  cursor: w-resize;
  height: 100%;
  width: 10px;
  z-index: 20;
  background-color: transparent;
  opacity: 0.5;
}
.dragsizeable:hover{
  background-color: #ddd;
}
.dragContent{
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.save{
  display: block;
  padding: 5px 10px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 5px;
  width: 80px;
  text-align: center;
  cursor: pointer;
}
.mg10{
  margin: 10px;
}
.fr{
  float: right;
}
.fl{
  float: left;
}
